#namiq {

    width: 200px;
    height: 200px;

    background-image: url(nature-photo.jpg);
    background-size: contain;
    background-position-y: 44px;
    background-repeat: no-repeat;

    background-color: aqua;

    border: 20px solid #29c629;
    text-align: center;
    padding: 15px 15px 15px 15px;

    border-style: solid;
    border-color: yellow;

    margin: 25px 25px 25px 25px;


}